/* Special stuff for the home.html*/

.home-page-heading {
    margin-top: 20px; /* Adjust the value as needed */
    margin-bottom: 20px; /* Provides space below the heading */
  }
  

.cta-button {
    background-color: #3346dd; /* Blue background */
    color: white; /* White text */
    padding: 14px 25px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Necessary for buttons */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Larger font size */
    cursor: pointer; /* Pointer cursor on hover */
}

.cta-button:hover {
    background-color: #202b7c; /* Darker shade of blue on hover */
}

/* Special styles for home-cta-button */
.home-cta-button {
    @extend .cta-button; /* Inherits styles from cta-button */
    margin-top: 20px; /* Provides space above the button */
    margin-bottom: 20px; /* Adjust the value as needed for space below the button */
    /* Add any other specific styles for home-cta-button here */
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }